.own-profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20%;
  padding-bottom: 12em;
}

.profile-details-card {
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
}

.profile-img-div {
  background-color: wheat;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

li {
  list-style-type: none;
}

.profile-details {
}

.top-info-div {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer-card {
  background-color: peachpuff;
  color: brown;
  border-radius: 12px;
}
