.own-profile-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20%;
  padding-bottom: 12em;
}

.profile-details-card {
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
}

.profile-img-div {
  background-color: wheat;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
}
.profile-img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

li {
  list-style-type: none;
}

.new-offer-input-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.top-info-div {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offer-card img {
  max-width: 80%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}
