#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
@font-face {
  font-family: "Gill Sans";
  src: url("src/fonts/GillSans.ttc") format("ttc"),
    url("src/fonts/GillSans.ttc") format("ttc");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(225, 218, 204);
  color: #4f2e12;
  height: 100px;
  padding: 10px;
}

.navbar-logo {
  height: 100%;
}
.login-register {
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(225, 218, 204);
  color: #4f2e12;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 80px;
  margin-bottom: 1px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-btn {
  width: 100px;
}

.showcase-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}
.banner-logo {
  height: 300px;
}
